{
  "ConnectionStrings": {
    "DefaultConnection": "server=mysql;port=3306;database=trainee_management_db;user=root;password=root;",
    "LocalConnection": "server=localhost;port=3307;database=trainee_management_db;user=root;password=root;",
    "RedisConnection": "localhost:6379,abortConnect=false"
  },
  "RabbitMQ": {
    "HostName": "localhost",
    "Port": 5672,
    "UserName": "guest",
    "Password": "guest",
    "VirtualHost": "mqhost"
  },
  "AllowedHosts": "*",
  "Jwt": {
    "Key": "fdjf2nfnKFifFk3FNff5ifbu7d7dyndnDdJ4KENE5DEYekEB7kEBBE8BE9kjb",
    "Issuer": "TraineeManagementApi1",
    "Audience": "TraineeManagement1Client",
    "ExpiryMinutes": 60
  },
  "FileStorage": {
    "RootPath": "/app/uploads",
    "FileSizeLimit": 10,
    "AllowedExtensions": [
      ".pdf",
      ".docx",
      ".zip"
    ]
  },
  "Redis": {
    "CacheTimeLimit": 30
  },
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.Hosting.Lifetime": "Information",
        "Microsoft.AspNetCore.Hosting": "Information",
        "Microsoft.EntityFrameworkCore.Database": "Warning",
        "System.Net.Http.HttpClient": "Warning",
        "Microsoft.AspNetCore.Hosting.Diagnostics": "Warning",
        "Microsoft.AspNetCore.Routing.EndpointMiddleware": "Warning",
        "System": "Warning",
        "MySql": "Warning"
      }
    },
    "WriteTo": [
      {
        "Name": "Console"
      }
    ]
  },
  "AdminData":{
    "userName":"admin",
    "email":"admin@gmail.com",
    "password":"Admin@123"
  }
}















------------------------------------------------------------------------------------------------------



























{
  "ConnectionStrings": {
    "DefaultConnection": "",
    "LocalConnection": "",
    "RedisConnection": ""
  },
  "RabbitMQ": {
    "HostName": "",
    "Port": ,
    "UserName": "",
    "Password": "",
    "VirtualHost": ""
  },
  "AllowedHosts": "",
  "Jwt": {
    "Key": "",
    "Issuer": "",
    "Audience": "",
    "ExpiryMinutes": 
  },
  "FileStorage": {
    "RootPath": "",
    "FileSizeLimit": ,
    "AllowedExtensions": [
      "",
      "",
      ""
    ]
  },
  "Redis": {
    "CacheTimeLimit": 
  },
  "Serilog": {
    "MinimumLevel": {
      "Default": "",
      "Override": {
        "Microsoft": "",
        "Microsoft.Hosting.Lifetime": "",
        "Microsoft.AspNetCore.Hosting": "",
        "Microsoft.EntityFrameworkCore.Database": "",
        "System.Net.Http.HttpClient": "",
        "Microsoft.AspNetCore.Hosting.Diagnostics": "",
        "Microsoft.AspNetCore.Routing.EndpointMiddleware": "",
        "System": "",
        "MySql": ""
      }
    },
    "WriteTo": [
      {
        "Name": ""
      }
    ]
  },
  "AdminData":{
    "userName":"",
    "email":"",
    "password":""
  }
}