ConnectionStrings__DefaultConnection=
DirectoryApi__BaseUrl=
ConnectionStrings__RedisConnection=
RabbitMQ__HostName=
RabbitMQ__Port=
RabbitMQ__UserName=
RabbitMQ__Password=
RabbitMQ__VirtualHost=
